.cta {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: $color-red-orange;
  color: $color-white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: $font-weight-bold;
  transition: background 0.3s ease;

  &:hover {
    background-color: darken($color-red-orange, 10%);
  }
}
