.cta {
  display: inline-block;
  padding: 10px 20px;
  background-color: $color-red-orange;
  color: $color-white;
  text-decoration: none;
  border-radius: 5px;

  &:hover {
    background-color: darken($color-red-orange, 10%);
  }
}

