.hero {
  position: relative;
  text-align: center;

  img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
  }

  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 3em;
      color: $color-cyan;
      text-shadow: 0 0 10px $color-cyan;
    }

    p {
      font-size: 1.5em;
      color: $color-red-orange;
    }
  }
}

