// 1. Base setup
@import 'base/reset';
@import 'base/variables';
@import 'base/typography';

// 2. Layout
@import 'layout/container';

// 3. Components
@import 'components/hero';
@import 'components/tiers';
@import 'components/cta';
@import 'components/footer';
