<nav class="nav">
  <div class="container nav-inner">
    <a href="/" class="logo">Insight Hunter</a>
    <ul class="nav-links">
      <li><a href="/lite">Lite</a></li>
      <li><a href="/standard">Standard</a></li>
      <li><a href="/full">AFP</a></li>
      <li><a href="/scout">Scout</a></li>
      <li><a href="/bizforms">BizForms</a></li>
    </ul>
  </div>
</nav>
