---
---
<nav class="nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/tech">Tech</a></li>
    <li><a href="/updates">Updates</a></li>
    <li><a href="/news">News</a></li>
    <li><a href="/faqs">FAQs</a></li>
    <li><a href="/shop">Shop</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
