---
const { title = 'Insight Hunter' } = Astro.props;
import '../styles/global.scss';
import Nav from '../components/Nav.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
<style lang="scss">
  <body>
    <Nav />
    <slot />
  </body>
</style>
</html>
