body {
  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: 1.6;
  color: $color-white;
  background-color: $color-slate-gray;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
  line-height: 1.2;
  margin-bottom: 0.5em;
  color: $color-cyan;
}

p {
  margin-bottom: 1rem;
  color: $color-light-gray;
}

a {
  color: $color-cyan;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
